<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Guessing|LunarVerse</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
        <div class="container" style="list-style: none;">
          <li><a class = "logo" style="font-size:25pt" href="http://lunarverse.pythonanywhere.com/">LunarVerse</a></li>
          <nav>
          <ul>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/searchhome">Search</a></li>
              <li><a style="font-size:14pt" href="https://Pages.emilyrvillalba.repl.co/game.html">Game</a></li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/about.html">About</a></li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/price.html">Upgrade</a></li>
              <li class = "separator" style="font-size:14pt">|</li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/signup.html">Sign up</a></li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/login.html">Log in</a></li>

          </ul>
          </nav>
        </div>
    </header>

    <script src="gameScript.js"></script>
    <div allign="center">
        <div class="container">
          <br style="display:none" id = "i1"><br id = "i2"><br>
          <label style="font-size:40pt;" id = "intro"> Let's test your music memory!</label>
          <br id = "i3"><br id = "i4">
          <label style="font-size:14pt;" id = "intro2"> You have 30 seconds to guess </label><br id = "i6">
          <label style="font-size:14pt;" id = "intro3"> as many songs as you can that contain a given keyword.</label>


          <br><br id = "i5">
          <button class="button button1" id = "begin" onclick = "startTime()">BEGIN</button>

          <button style = "display:none" class = "button button1" id = "generate" onclick = "generateWord()">GENERATE NEW WORD</button><br><br>

          <div style = "display:none" style="font-size:24pt;"  id = "finalLabel" >GROOVY! </div> <br style="display:none" id = "final1">
          <div style = "display:none" id = "points" >Score: 0</div><br style="display:none" id = "final2">
          <div style="font-size:20pt;"  id = "highScore" >Your Highest Score: 9</div>

          <!-- <form>     -->
            <br>
            <label style="display:none" style="font-size:14pt;" id = "prompt" for="guess"> Enter a song that contains this word in the lyrics or title:</label>

            <!-- <label style="display:none" id = "timeup"> Time is up! </label><br>
            <label style="display:none" id = "songs"> Here are some songs you could have guessed for the word: </label>   -->
            <br style="display:none" id = "space1">

            <!-- <labelfor="guess"> "keyword"</label><br><br><br> -->
            <br id = "space2"><div style="font-size:25pt;" id = "keyword">
            </div><br id = "space3">
            <div style="display:none" id = "timer">0:30</div><br id = "space4"><br id = "space5">

            <div allign="center">
              <input style="display:none"  style="height:80px;font-size:30pt;" type="text" id="field" name="field" placeholder="song name"><br style="display:none" id = "bf1">

              <label class="hyperlink" onclick = "artist()" style="display:none" id = "artistOn"> Know the artist?</label> <br style="display:none" id = "bf2">

              <input style="display:none"  style="height:80px;font-size:30pt;" type="text" id="artistField" name="artistField" placeholder="artist name"><br style="display:none" id = "bf3"><br style="display:none" id = "bf4">

              <button class="button button1" onclick = "game3()" style="display:none" id = "check"> SUBMIT</button>
            </div>

              <div style="display:none" style="font-size:25pt;" id = "correctOrNot" > Result </div><br style="display:none" id = "b1">
              <button style = "display:none" class="button button1" id = "again" onclick = "reload()">BEGIN NEW ROUND</button>
              <br style="display:none" id = "b2"><br style="display:none" id = "b3">
              <!-- <button style="display:none" class="button button1" onclick = "final()" id = "end">END GAME</button><br style="display:none" id = "b4"><br style="display:none" id = "b5"> -->

          <!-- </form> -->


        </div>
    </div>



  </body>
  <div class="footer">
    <br>
    <p>Lunar Bits </p>
    <p>CS 4800 Fall 2021</p>
    <div class="containerB">
      <img src="gh.png" width="40px" height="40px">
      <button class="btn" onclick="location.href='https://github.com/CS4800-Software-Engineering'"></button>
    </div>

  </div>
</html>
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width">-->
<!--    <title>repl.it</title>-->
<!--    <link href="style.css" rel="stylesheet" type="text/css" />-->
<!--  </head>-->
<!--  <body>-->
<!--    <header>-->
<!--    <div class="container" style="list-style: none;">-->
<!--      <li><a class = "logo" style="font-size:25pt" href="http://lunarverse.pythonanywhere.com/">LunarVerse</a></li>-->
<!--      <nav>-->
<!--      <ul>-->
<!--          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/search">Search</a></li>-->
<!--          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/game.html">Game</a></li>-->
<!--          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/about.html">About</a></li>-->
<!--          <li class = "separator" style="font-size:14pt">|</li>-->
<!--          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/signup.html">Sign up</a></li>-->
<!--          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/login.html">Log in</a></li>-->

<!--      </ul>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </header>-->
<!--    <script src="gameScript.js"></script>-->
<!--    <div allign="center">-->
<!--        <div class="container">-->
<!--          <br style="display:none" id = "i1"><br id = "i2">-->
<!--          <label style="font-size:24pt;" id = "intro"> Let's test your music memory!</label>-->
<!--          <br id = "i3"><br id = "i4">-->
<!--          <label style="font-size:18pt;" id = "intro2"> You have 30 seconds to guess a song that contains a given keyword.</label>-->


<!--          <br><br>-->
<!--          <button class="button button1" id = "begin" onclick = "startTime()">BEGIN</button>-->

<!--          <button style = "display:none" class = "button button1" id = "generate" onclick = "generateWord()">GENERATE NEW WORD</button><br><br>-->

<!--          <div style = "display:none" id = "points" >Points: 0</div>-->

          <!-- <form>     -->
<!--            <br>-->
<!--            <label style="display:none" style="font-size:14pt;" id = "prompt" for="guess"> Enter a song that contains this word in the lyrics or title:</label>-->

            <!-- <label style="display:none" id = "timeup"> Time is up! </label><br>
<!--            <label style="display:none" id = "songs"> Here are some songs you could have guessed for the word: </label>   -->
<!--            <br style="display:none" id = "space">-->

            <!-- <labelfor="guess"> "keyword"</label><br><br><br> -->
<!--            <br><div style="font-size:25pt;" style="display:none" id = "keyword">-->
<!--            </div><br>-->
<!--            <div style="display:none" id = "timer">0:30</div><br><br>-->

<!--            <div allign="center">-->
<!--              <input style="display:none"  style="height:80px;font-size:30pt;" type="text" id="field" name="field" placeholder="song name"><br style="display:none" id = "bf1">-->

<!--              <label class="hyperlink" onclick = "artist()" style="display:none" id = "artistOn"> Know the artist?</label> <br style="display:none" id = "bf2">-->

<!--              <input style="display:none"  style="height:80px;font-size:30pt;" type="text" id="artistField" name="artistField" placeholder="artist name"><br style="display:none" id = "bf3"><br style="display:none" id = "bf4">-->


<!--              <button class="button button1" onclick = "game3()" style="display:none" id = "check"> SUBMIT</button> -->
<!--            </div>-->

<!--              <div style="display:none" style="font-size:25pt;" id = "correctOrNot" > Result </div><br style="display:none" id = "b1">-->
<!--              <button style = "display:none" class="button button1" id = "again" onclick = "reload()">BEGIN NEW ROUND</button>-->
<!--              <br style="display:none" id = "b2"><br style="display:none" id = "b3">-->
              <!-- <button style="display:none" class="button button1" onclick = "final()" id = "end">END GAME</button><br style="display:none" id = "b4"><br style="display:none" id = "b5"> -->

          <!-- </form> -->


<!--        </div>-->
<!--    </div>-->



<!--  </body>-->
<!--</html>-->