<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Liked|LunarVerse</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    </html>
    <header>
        <img class="pic" src="luna.png" width="40px" height="40px" style="float:left;">
    <div class="container" style="list-style: none;">
      <li><a class = "logo" style="font-size:25pt" href="http://lunarverse.pythonanywhere.com/">LunarVerse</a></li>
      <nav>
      <ul>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/searchhome">Search</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/game.html">Game</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/about.html">About</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/price.html">Upgrade</a></li>
          <li class = "separator" style="font-size:14pt">|</li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/signup.html">Sign up</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/login.html">Log in</a></li>

      </ul>
      </nav>
    </div>
  </header>
    <script src="main.js"></script>
    <div allign="center">
        <div class="container">
            <form action="#" method = "POST">
                <br>
                <br>
                <br>

                <label style="font-size:14pt;" for="guess"> Enter a lyric to search for:</label><br>
                <p><input type="text" id="lyricID" name="lyric" placeholder="song name"></p><br>

                <!--<input class="button button1" type="submit" value="SUBMIT"/>-->
                <button class="button button1" type="submit" value="SUBMIT">SUBMIT</button>

            </form>
        <!--
        <button class="button button1" type="submit">SUBMIT</button>
        -->
        <br>
        <div id="song">

            {% for data in data %}

            {{ data | safe }}
            <br>

            {% endfor %}

        </div>
    </div>
    </div>
</body>
<div class="footer">
    <br>
    <p>Lunar Bits </p>
    <p>CS 4800 Fall 2021</p>
    <div class="containerB">
      <img src="gh.png" width="40px" height="40px">
      <button class="btn" onclick="window.open('https://github.com/CS4800-Software-Engineering')"></button>
    </div>

  </div>
</html>
