<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Signup</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
    <div class="container" style="list-style: none;">
      <li><a class = "logo" style="font-size:25pt" href="http://lunarverse.pythonanywhere.com/">LunarVerse</a></li>
      <nav>
      <ul>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/searchhome">Search</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/game.html">Game</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/about.html">About</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/price.html">Upgrade</a></li>
          <li class = "separator" style="font-size:14pt">|</li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/signup.html">Sign up</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/login.html">Log in</a></li>

      </ul>
      </nav>
    </div>
    </header>
    <script src="main.js"></script>
    <div allign="center">
        <div class="container">
          <br>
          <br>
          <form action="http://lunarverse.pythonanywhere.com/result" method = "POST">
            <label for="email">What's your email?</label><br>
            <input type="text" id="email" size="40"  name="email" placeholder="Enter your email."><br>

            <label for="pass"> Create Password </label><br>
            <input type="password" id="pass"
            minlength="8" required placeholder="8 character minimum." name="password"><br>

            <label for="pass2"> Confirm Password</label><br>
            <input type="password" id="pass2"
            minlength="8" required placeholder="Enter password again." name = password2><br><br><br>

            <!-- Javascript check password -->
            <button class="button button1" type="submit" value="SUBMIT" onclick = "passwordMatch()">SIGN UP</button>
            <br>
            <br>
            <button class="button button1" onclick="location.href='http://lunarverse.pythonanywhere.com/'">GO BACK</button>
          </form>
        </div>
    </div>
  </body>
</html>