<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
<body>
  <header>
        <div class="container" style="list-style: none;">
          <li><a class = "logo" style="font-size:25pt" href="http://lunarverse.pythonanywhere.com/">LunarVerse</a></li>
          <nav>
          <ul>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/searchhome">Search</a></li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/game.html">Game</a></li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/about.html">About</a></li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/price.html">Upgrade</a></li>
              <li class = "separator" style="font-size:14pt">|</li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/signup.html">Sign up</a></li>
              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/login.html">Log in</a></li>

          </ul>
          </nav>
        </div>
    </header>
    <h3>About Us</h3>
  <script src="script.js"></script>
	<div allign="center">
        <div class="container2">
            <form>
                 <a style = "font-size:14pt"> Many song titles nowadays do not have any relation to what the song could be about.

                  <br>
                 Furthermore, it’s harder to find curated music for certain ‘vibes’ and ‘moods’ when relying just on the title.

                 <br>
                 With LunarVerse, it’s easy to find relevant songs for any given keyword.
                 <br>

                 </a>
            </form>
        </div>



    <div class = "container">
        <div class="row" allign="center">

            <div class="column">
              <div class="card">
                <div class="container3">
                  <p style="font-size:28px">Rachel Goodrich</p>
                  <p class="title">Frontend</p>
                  <p>Accenture Intern</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container3">
                  <p style="font-size:28px">Neha Jayan</p>
                  <p class="title">Backend</p>
                  <p>Deutsche Bank Intern</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container3">
                  <p style="font-size:28px">FengRu Yang</p>
                   <p class="title">Backend</p>
                  <p>Cybersecurity Researcher</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container3">
                  <p style="font-size:28px">Emily Villalba</p>
                  <p class="title">Frontend/Backend</p>
                  <p>Programming Instructor</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container3">
                  <p style="font-size:28px">Nathan Goodrich</p>
                  <p class="title">Frontend</p>
                  <p>Boeing Research Project</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    </div>

  </body>
</html>
<!--<html>-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Search</title>-->
<!--    <link href="style.css" rel="stylesheet" type="text/css" />-->
<!--<body>-->
<!--  <header>-->
<!--        <div class="container" style="list-style: none;">-->
<!--          <li><a class = "logo" style="font-size:25pt" href="http://lunarverse.pythonanywhere.com/">LunarVerse</a></li>-->
<!--          <nav>-->
<!--          <ul>-->
<!--              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/search">Search</a></li>-->
<!--              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/game.html">Game</a></li>-->
<!--              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/about.html">About</a></li>-->
<!--              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/price.html">Upgrade</a></li>-->
<!--              <li class = "separator" style="font-size:14pt">|</li>-->
<!--              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/signup.html">Sign up</a></li>-->
<!--              <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/login.html">Log in</a></li>-->

<!--          </ul>-->
<!--          </nav>-->
<!--        </div>-->
<!--    </header>-->
<!--    <h3>About Us</h3>-->
<!--  <script src="script.js"></script>-->
<!--	<div allign="center">-->
<!--     <div class="container2">-->
<!--         <form>-->
<!--             <a style = "font-size:14pt">Lunarverse is a site we made lol.-->
<!--              <br>-->
<!--             We are currently software enginneering students just trying to make the cash money boiiii.-->
<!--             <br>-->
<!--             If you like music than this is your site.-->
<!--             <br>-->
<!--             If you don't...this is your site.-->
<!--             </a>-->
<!--        </form>-->
<!--    </div>-->
<!--	</div>-->
<!--    <div class="row" allign="center">-->

<!--    <div class="column">-->
<!--      <div class="card">-->
<!--        <div class="container3">-->
<!--          <p style="font-size:24px">Rachel Goodrich</p>-->
<!--          <p class="title">Frontend</p>-->
<!--          <p>Did you know he made this page whooooah</p>-->
<!--          <p>example@example.com</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--     <div class="column">-->
<!--      <div class="card">-->
<!--        <div class="container3">-->
<!--          <p style="font-size:24px">Neha Jayan</p>-->
<!--          <p class="title">Backend</p>-->
<!--          <p>Did you know he made this page whooooah</p>-->
<!--          <p>example@example.com</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="column">-->
<!--      <div class="card">-->
<!--        <div class="container3">-->
<!--          <p style="font-size:24px">FengRu Yang</p>-->
<!--           <p class="title">Backend</p>-->
<!--          <p>Did you know he made this page whooooah</p>-->
<!--          <p>example@example.com</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="column">-->
<!--      <div class="card">-->
<!--        <div class="container3">-->
<!--          <p style="font-size:24px">Emily Villalba</p>-->
<!--          <p class="title">Frontend/Backend</p>-->
<!--          <p>Did you know he made this page whooooah</p>-->
<!--          <p>example@example.com</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="column">-->
<!--      <div class="card">-->
<!--        <div class="container3">-->
<!--          <p style="font-size:24px">Nathan Goodrich</p>-->
<!--          <p class="title">Frontend</p>-->
<!--          <p>Did you know he made this page whooooah</p>-->
<!--          <p>example@example.com</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->