<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
<body>
  <header>
    <div class="container" style="list-style: none;">
      <li><a class = "logo" style="font-size:25pt" href="http://lunarverse.pythonanywhere.com/">LunarVerse</a></li>
      <nav>
      <ul>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/">Home</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/search">Search</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/game.html">Game</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/about.html">About</a></li>
      </ul>
      </nav>
    </div>
  </header>
    <h3>About Us</h3>
  <script src="script.js"></script>
	<div allign="center">
     <div class="container2">
         <form>
             <a style = "font-size:14pt">Lunarverse is a site we made lol.
              <br>
             We are currently software enginneering students just trying to make the cash money boiiii.
             <br>
             If you like music than this is your site.
             <br>
             If you don't...this is your site.
             </a>
        </form>
    </div>
	</div>
    <div class="row">
      <div class="column">
      <div class="card">
        <div class="container3">
          <h2>Nathan Goodrich</h2>
          <p class="title">Frontend</p>
          <p>Did you know he made this page whooooah</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container3">
          <h2>Nathan Goodrich</h2>
          <p class="title">Frontend</p>
          <p>Did you know he made this page whooooah</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container3">
          <h2>Nathan Goodrich</h2>
          <p class="title">Frontend</p>
          <p>Did you know he made this page whooooah</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container3">
          <h2>Nathan Goodrich</h2>
          <p class="title">Frontend</p>
          <p>Did you know he made this page whooooah</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container3">
          <h2>Nathan Goodrich</h2>
          <p class="title">Frontend</p>
          <p>Did you know he made this page whooooah</p>
          <p>example@example.com</p>
        </div>
      </div>
    </div>
	</div>
  </body>
</html>