<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>LunarVerse</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="https://LUNARFY-Frontend.florayfr1.repl.co"><h1>LunarVerse</h1></a
    <script src="script.js"></script>
    <div allign="center">
        <div class="container">
          <h1>Registration successful. {{ data | safe }}</h1>

        </div>
    </div>
  </body>
</html>