<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <div class="container" style="list-style: none;">
      <li><a class = "logo" style="font-size:25pt" href="http://lunarverse.pythonanywhere.com/">LunarVerse</a></li>
      <nav>
      <ul>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/search">Search</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/game.html">Game</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/about.html">About</a></li>
          <li class = "separator" style="font-size:14pt">|</li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/signup.html">Sign up</a></li>
          <li><a style="font-size:14pt" href="http://lunarverse.pythonanywhere.com/login.html">Log in</a></li>

      </ul>
      </nav>
    </div>
  </header>
    <div class="container" style="list-style: none;">
      <br>
      <h1>Find that song. </h1>
      <h1>Perfect your playlists. </h1>
      <h1>Test your memory. </h1>
    </div>
  </body>

  <div class="footer">
    <br>
    <p>Lunar Bits </p>
    <p>CS 4800 Fall 2021</p>
    <div class="containerB">
      <img src="gh.png" width="40px" height="40px">
      <button class="btn" onclick="window.open('https://github.com/CS4800-Software-Engineering')"></button>
    </div>

  </div>
</html>
