<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>LunarVerse</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="http://lunarverse.pythonanywhere.com"><h1>LunarVerse</h1></a>
    <script src="main.js"></script>
    <div allign="center">
        <div class="container">
          <form action="http://lunarverse.pythonanywhere.com/result" method = "POST">
            <label for="email">What's your email?</label><br>
            <input type="text" id="email" size="40"  name="email" placeholder="Enter your email."><br>

            <label for="pass"> Create Password </label><br>
            <input type="password" id="pass"
            minlength="8" required placeholder="8 character minimum." name="password"><br>

            <label for="pass2"> Confirm Password</label><br>
            <input type="password" id="pass2"
            minlength="8" required placeholder="Enter password again." name = password2><br><br><br>

            <!-- Javascript check password -->
            <input class="button button1" type="submit" value="SUBMIT" onclick = "passwordMatch()"/>

            <div allign="center">
              <div class="container">


              </div>
              <div class="container">
                <button class="button button1" onclick="location.href='http://lunarverse.pythonanywhere.com/'">GO BACK</button>
              </div>
            </div>

          </form>
        </div>
    </div>
  </body>
</html>